  *{
    font-family: "Poppins", sans-serif;
  }
  
  :root{
    overflow: hidden;
    height: 100%;
    color-scheme: light dark;
  }

  .light { /* forces light color-scheme */
    color-scheme: light;
  }
  .dark { /* forces dark color-scheme     margin: 10vh auto;*/
    color-scheme: dark;
  }
  
  body{
    overflow-wrap: break-word;
    background-color: light-dark(white, #252525);
    margin: 0;
    
  }

  .main{
    max-width: 1200px;
    margin: 70px auto;
    padding: 0 20px;
  }

  .logo{
    height: 60px;
  }
  
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
  }

  .sticky-content {
    background-color: light-dark(#DB8451, #1c1c1c);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    position: fixed;
    width: 100vw;
    top: 0;
    align-items: center;
    box-shadow: 0 0 0.75rem #DB8451, 0 10px 20px light-dark(white, #252525);
  }

  .sticky-content img{
    margin-left: 5vw;
  }

  nav{
    display: flex;
    align-content: end;
    justify-content: right;
    margin-right: 5vw;
  }

  nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    float: right;
  }
  
  nav a {
    display: block;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    color: #F2E7DC;
    font-weight: 400; 
    font-size: 24px;
    text-decoration: none;
  }

  nav a:hover {
    color: light-dark(#DB8451, #F2E7DC);
    background-color: light-dark(#F2E7DC, #DB8451);
  }

  .bottom-shadow{
    box-shadow: 0 -5px 20px light-dark(white, #252525);
    z-index: 1;
    height: 2vh;
  }

  .msg-inputs{
    overflow-wrap: break-word;
    align-content: center;
    display: flex;
    resize: none;
    border-radius: 5px;
    overflow: hidden;
    width: 85%;
    height: min(8vh, 110px);
    margin: 0 auto;
 }
 .msg-inputs ::placeholder{
    color: light-dark(#f2e7dca8, #db84518f);
 }
         
 .msg-inputs textarea {
   font-size: 18px;
   width: 95%;
   overflow-wrap: break-word;
   background-color: light-dark(#DB8451, #1c1c1c);
   color: light-dark(#F2E7DC, #DB8451);
   border: 2px solid light-dark(#F2E7DC, #DB8451);
   resize: none;
   padding: 10px 10px;
   margin: 0 -2px 0 0;
   border-radius: 5px 0 0 5px;
   scrollbar-color: #DB8451 light-dark(#efd8c2, #1c1c1c);
   scrollbar-width: thin;
 }

 .msg-inputs textarea:focus-visible{
  outline: none;
 }
 
 .msg-inputs .send-btn{
     font-size: 30px;
     background-color: light-dark(#DB8451, #1c1c1c); 
     color: light-dark(#F2E7DC, #DB8451);
     border: 2px solid light-dark(#F2E7DC, #DB8451);
     width: 5vw;
     overflow: hidden;
     justify-content: center;
     border-radius: 0 5px 5px 0;
 }
   
 .send-btn:hover {
   background-color: light-dark(#F2E7DC, #DB8451);
   color: light-dark(#DB8451, #F2E7DC);
   cursor: pointer;
 }

 .message-area{
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 20px 20px;
  padding-bottom: 5vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #DB8451 light-dark(white, #252525);
  scrollbar-width: thin;

 }

 .message-area div{
  display: flex;
  flex-direction: column;
 }

 .message-area .message{
  color: #252525;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  max-width: 70%;
  margin-bottom: 0;
  margin-top: 5px;
  z-index: -1;
 }

 .message-area .user{
  background-color: #DB8451;
  margin: 15px 0px;
  margin-left: auto;
 }

 .message-area .ibis{
  background-color: #F2E7DC;
  margin-right: auto;
 }

 .ibis-top{
  font-size: 15px;
  color: #939393;
  margin: 0;
 }

 .error-message{
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, .5);
 }

 .error-message h2{
  font-size: 40px;
  margin: 0;
 }

 .error-message p{
  font-size: 30px;
  margin: 0;
 }


@media only screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    margin-right: 0;
  }
  
  nav li {
    font-size: 14px;
    display: block;
    padding: 0px;
  }
  nav a {
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
  }
}