{% load static %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>{% block title %}{% endblock %}iBIS</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    </head>
    <body>

        <header>
            <section class="sticky-content">
                <img id="logo" src="{% static 'graphic/ibis-graphics-vectors_darkmode-logowtext.png' %}" alt="THIS IS iBIS" height="60">
                <nav>
                    <ul>
                        <li><a href="/home">Chat</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="">Settings</a></li>
                        <button id="colorModeButton">Toggle Color Mode</button>
                    </ul>
                </nav>
            </section>
        </header>
        
        <main class="main">
            {% block content %}{% endblock %}
        </main>

        <script>
            function toggleMode() {
                var element = document.body;
                var logo = document.getElementById('logo');
                if (element.classList.contains("light")) {
                    element.classList.replace("light", "dark");
                    logo.src = "{% static 'graphic/ibis-graphics-vectors_darkmode-logowtext.png' %}";
                } 
                else if (element.classList.contains("dark")) {
                    element.classList.replace("dark", "light");
                    logo.src = "{% static 'graphic/ibis-graphics-vectors_lightmode-logowtext.png' %}";
                } 
                else {
                    element.classList.add("dark");
                    logo.src = "{% static 'graphic/ibis-graphics-vectors_lightmode-logowtext.png' %}";
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('colorModeButton').addEventListener('click', toggleMode);
            });
        </script>


    </body>
</html>