{% extends "base.html" %}
{% load static %}
{% block title %}Home - {% endblock %}
{% block content %}

<head>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // Pass CSRF token to JavaScript
        const csrfToken = "{{ csrf_token }}";
    </script>
</head>

<body>
    <div class="message-area">
        <div>
            <p class="ibis-top">Oliver</p>
        </div>
    </div>
    <div class="msg-inputs">
        <textarea class="msg-input" placeholder="Message" name="message" id="message" required></textarea>
        <button class="send-btn" type="button" name="send" id="send-btn" onclick="sendMessage()">></button>
    </div>
    <script>
        var messageInput = document.getElementById("message");

        messageInput.addEventListener("keydown", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13 && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }
        });
    </script>
</body>

{% endblock %}
