{% extends "base.html" %}
{% load static %}
{% block title %}Home - {% endblock %}
{% block content %}

<head>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <div class="message-area">
        <p class="ibis-top">Oliver</p>
        <p class="ibis message">
            Hi I'm Ibis!
        </p>
        <p class="ibis message">
            Do you want to learn about search or sort algorithms? We have data for definitions, pseudocode, visuals, and additional resources.
        </p>
    </div>
    <div class="msg-inputs">
        <textarea class="msg-input" placeholder="Message" name="message" id="message" onkeydown="handleKeyDown(event)" required></textarea>
        <button class="send-btn" type="button" name="send" id="send-btn" onclick="sendMessage()">></button>
    </div>
</body>

{% endblock %}
