{% extends "base.html" %}
{% load static %}
{% block title %}Home - {% endblock %}
{% block content %}

<head>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // Pass hostURL to JavaScript
        const hostURL = "{{ host }}";
    </script>
</head>

<body>
    <div class="message-area">
        <div>
            <div class="name-logo">
                <div><img src="{% static 'graphic/png_darkmode-logoonly.png' %}" height="30" width="30"></div>
                <div><p class="ibis-top">Oliver</p></div>
            </div>
        </div>
    </div>
    
    <div class="bottom-shadow"></div>
    <div>
    <div class="msg-inputs">
        <textarea class="msg-input" placeholder="Message" name="message" id="message" required></textarea>
        <button class="send-btn" type="button" name="send" id="send-btn" onclick="sendMessage()">></button>
    </div>
</div>
    <script>
        var messageInput = document.getElementById("message");

        messageInput.addEventListener("keydown", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13 && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }
        });
    </script>
</body>

{% endblock %}
